<!-- Cuarto módulo (footer): se debe maquetar usando flexbox. Todos los textos de la columna "ARTICLES" y todos los textos de la columna "TWITTER" deben ser enlaces a la página de Adalab.
 -->
<footer class="footer__page">
    <!-- <img class="ico-arrow" src="./assets/images/ico-arrow.svg" alt="arrow" /> -->
    <div class="footer__container">
        <nav class="footer__container--sections">
            <ul>
                <li>articles</li>
                <li>books</li>
                <li>events</li>
                <li>reasons</li>
                <li>tips</li>
            </ul>
        </nav>
        <nav class="footer__container--social">
            <ul>
                <li>twitter</li>
                <li>instagram</li>
                <li>mastodonte.social</li>
            </ul>
        </nav>
    </div>
    <div class="footer__copy">
        <p>&copy; 2021</p>
        <p>we love components</p>
    </div>
</footer>