<footer class="footer__page">
    <a href="./index.html#top" alt="top" title="top"><img class="ico-arrow" src="./assets/images/ico-arrow.svg" alt="top" /></a>
    <div class="footer__container">
        <nav class="footer__container--sections">
            <ul>
                <li>
                    <a class="link" href="https://adalab.es/" target="_blank" title="Go to Adalab">articles</a
					>
				</li>
				<li>
					<a
						class="link"
						href="https://adalab.es/"
						target="_blank"
						title="Go to Adalab"
						>books</a
					>
				</li>
				<li>
					<a
						class="link"
						href="https://adalab.es/"
						target="_blank"
						title="Go to Adalab"
						>events</a
					>
				</li>
				<li>
					<a
						class="link"
						href="https://adalab.es/"
						target="_blank"
						title="Go to Adalab"
						>reasons</a
					>
				</li>
				<li>
					<a
						class="link"
						href="https://adalab.es/"
						target="_blank"
						title="Go to Adalab"
						>tips</a
					>
				</li>
			</ul>
		</nav>
		<nav class="footer__container--social">
			<ul>
				<li>
					<a
						class="link"
						href="https://adalab.es/"
						target="_blank"
						title="Go to Adalab"
						>twitter</a
					>
				</li>
				<li>
					<a
						class="link"
						href="https://adalab.es/"
						target="_blank"
						title="Go to Adalab"
						>instagram</a
					>
				</li>
				<li>
					<a class="link" href="https://adalab.es/" target="_blank"
						>mastodonte.social</a
					>
				</li>
			</ul>
		</nav>
	</div>
	<div class="footer__copy">
		<p>&copy; 2021</p>
		<p>we <span class="footer__copy--icon">❤</span> components</p>
	</div>
</footer>