<!-- Cuarto módulo (footer): se debe maquetar usando flexbox. Todos los textos de la columna "ARTICLES" y todos los textos de la columna "TWITTER" deben ser enlaces a la página de Adalab.
 -->
<footer>
    Flecha
    <ul>
        <li>articles</li>
        <li>books</li>
        <li>events</li>
        <li>reasons</li>
        <li>tips</li>
    </ul>
    <ul>
        <li>twitter</li>
        <li>instagram</li>
        <li>mastodonte.social</li>
    </ul>
    <div>&copy; 2021 we love components</div>
</footer>