<!-- El botón de hamburguesa (en la esquina superior izquierda) debe estar fijo en la parte superior de la pantalla y no debe desaparecer al hacer scroll. El icono de la hamburguesa debe ser un enlace a la página de Adalab. Este menú de hamburguesa no despliega
ningún submenú. Primer módulo (Anonymous proxy): debe estar maquetado con flexbox y debe ocupar el alto de la ventana del navegador. -->
<!--Hago dos divs, uno para el menú hamburguesa y otro para el titulo y el lema porque se comportan de manera diferente-->

<header class="header">
    <nav class="menu">
        <img class="menu-ico" src="./assets/images/ico-menu.svg" alt="menu" />
    </nav>

    <div class="header__page">
        <h1 class="header__page--title">Anonymous proxy</h1>
        <p class="header__page--motto">In hac habitasse platea dictumst.</p>
        <img class="ico-scroll-down" src="./assets/images/ico-scroll-down.svg" alt="down" />
    </div>
</header>