<!--Hago dos divs, uno para el menú hamburguesa y otro para el titulo y el lema porque se comportan de manera diferente-->

<header class="header">
    <nav class="menu" id="top">
        <a href="https://adalab.es/" target="_blank" title="Go to Adalab"><img class="menu-ico" src="./assets/images/ico-menu.svg" alt="menu" /></a>
    </nav>

    <div class="header__page">
        <h1 class="header__page--title">Anonymous proxy</h1>
        <p class="header__page--motto">In hac habitasse platea dictumst.</p>
        <a href="./index.html#reasons" alt="reasons" title="reasons"><img class="ico-scroll-down" src="./assets/images/ico-scroll-down.svg" alt="down" /></a>
    </div>
</header>