<!-- El botón de hamburguesa (en la esquina superior izquierda) debe estar fijo en la parte superior de la pantalla y no debe desaparecer al hacer scroll. El icono de la hamburguesa debe ser un enlace a la página de Adalab. Este menú de hamburguesa no despliega
ningún submenú. Primer módulo (Anonymous proxy): debe estar maquetado con flexbox y debe ocupar el alto de la ventana del navegador. -->

<header>
    <nav class="ico-menu">
        <img class="ico-menu" src="./assets/images/ico-menu.svg" alt="menu" />
    </nav>

    <div>
        <h1>Anonymous proxy</h1>
        <p>In hac habitasse platea dictumst.</p>
    </div>
    <img class="ico-scroll-down" src="./assets/images/ico-scroll-down.svg" alt="menu" />
</header>