<!-- Segundo módulo (Looking Through A Window): se puede maquetar usando las propiedades de CSS que se deseen. Tercer módulo (3 Reasons To Purchase): los 3 elementos del listado deben estar maquetados con CSS Grid en todos los tamaños de pantalla. -->
<section class="main__info">
    <h4 class="main__info--smallheading">Insomnia tips</h4>
    <h2 class="main__info--strongheading">Looking through a window</h2>
    <p class="main__info--description">
        Donec accumsam, nulla ut volutpat portittor, quam odio tempus felis, at luctus exdiamnec lectus.Vivamus semper sodales rutrum.
    </p>
    <button class="main__info--button__go">Go</button>
</section>