<!-- Segundo módulo (Looking Through A Window): se puede maquetar usando las propiedades de CSS que se deseen. Tercer módulo (3 Reasons To Purchase): los 3 elementos del listado deben estar maquetados con CSS Grid en todos los tamaños de pantalla. -->
<main>
    Insomnia tips Looking through a window Donec accumsam, nulla ut volutpat portittor, quam odio tempus felis, at luctus exdiamnec lectus.Vivamus semper sodales rutrum. Go 3 Reasons to purchase Ut sed metus Lorem ipsum dolor sit amet, consecteur. Curabitur
    ac erat Mauris mattis urna quis lorem molestie. Morbi dictum Aliquam in dolor et dolor tincidunt. More reasons
</main>