</section>
<section class="main__reasons">

    <h2 class="main__reasons--leadheading">
        3 reasons to purchase
    </h2>
    <div class="reason1">
        <include src="./article.html" heading="Ut sed metus" description="Lorem ipsum dolor sit amet, consecteur."></include>

    </div>
    <div class="reason2">
        <include src="./article.html" heading="Curabitur ac erat" description="Mauris mattis urna quis lorem molestie."></include>
    </div>
    <div class="reason3">
        <include src="./article.html" heading="Morbi dictum" description="Aliquam in dolor et dolor tincidunt."></include>
    </div>

    <button class="button__more">
        More reasons
      </button>

</section>