// fonts
$font-main: "Roboto Slab",
serif;
$font-secondary: "Roboto",
sans-serif;
// colors
$dark-grey-blue: #304268;
$greyish-brown: #4a4a4a;
$k: #000000;
$ice-blue: #eff9ff;
$k-50: rgba(0, 0, 0, 0.5);
$k-50: rgba(0, 0, 0, 0.5);
$lightblue: #8ccbea;
$cerulean: #0271bc;
$k-20: rgba(0, 0, 0, 0.2);
$bright-orange: #f26002;