.footer__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $dark-grey-blue;
    color: #ffffff;
    font-family: $font-secondary;
    padding: 60px 45px;
    row-gap: 30px;
    @media (min-width: 720px) {
        display: flex;
        flex-direction: row-reverse;
        margin: 45px 39px 45px 39px;
        align-items: flex-start;
        justify-content: center;
    }
    @media (min-width: 1200px) {
        margin: 45px 370px 45px 370px;
    }
}

.ico-arrow {
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 12.4px 10px 12px;
    border-radius: 22.5px;
    background-color: #ffffff;
    z-index: 999;
    top: 26px;
    position: relative;
    @media (min-width: 720px) {
        top: 74px;
    }
}

.footer__container {
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    &--sections {
        margin: 0px 123px 30px 122px;
        @media (min-width: 720px) {
            margin: 0px;
            width: 210px;
        }
    }
    &--social {
        margin: 0px 71px 0px 72px;
        @media (min-width: 720px) {
            margin: 0px;
            width: 210px;
        }
    }
    @media (min-width: 720px) {
        display: flex;
        flex-direction: row;
    }
}

.footer__copy {
    font-size: 14px;
    margin-bottom: 45px;
    &--icon {
        color: $bright-orange;
    }
}