.header {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: url($pathImages + "cover.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.menu {
    left: 0%;
    position: fixed;
    background: $cerulean;
    &-ico {
        width: 16px;
        height: 14px;
        object-fit: contain;
    }
}

.header__page {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 15px;
    &--title {
        font-family: $font-main;
        font-size: 42px;
        text-transform: uppercase;
        margin: 240px 0 10px 15px;
        width: 290px;
    }
    &--motto {
        font-family: $font-secondary;
        font-size: 16px;
        margin: 0px 0 45px 15px;
    }
}

.ico-scroll-down {
    margin: 0px 122px 53px 92px;
    padding: 18px 12px 15.3px 13px;
    border-radius: 22.5px;
    background-color: #ffffff;
}