.main__reasons {
    text-align: center;
    padding: 30px 15px 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    &--leadheading {
        font-family: $font-main;
        font-size: 24px;
        margin-bottom: 45px;
        text-transform: capitalize;
        grid-column: 1/4;
        grid-row: 1/2;
        @media (min-width: 720px) {
            grid-column: 1/4;
            grid-row: 1/2;
            font-size: 26px;
        }
        @media (min-width: 1140px) {
            padding: 60px 80px 60px 80px;
            font-size: 32px;
        }
    }
    @media (min-width: 720px) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 45px;
    }
    .reason1 {
        grid-column: 1/4;
        grid-row: 2/3;
        @media (min-width: 720px) {
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }
    .reason2 {
        grid-column: 1/4;
        grid-row: 3/4;
        @media (min-width: 720px) {
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }
    .reason3 {
        grid-column: 1/4;
        grid-row: 4/5;
        @media (min-width: 720px) {
            grid-column: 3/4;
            grid-row: 2/3;
        }
    }
    .button__more {
        font-family: $font-secondary;
        background-color: $bright-orange;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        border-radius: 22.5px;
        border: none;
        width: 184px;
        height: 45px;
        grid-row: 5/5;
        grid-column: 2/3;
        margin-top: 45px;
        &:hover {
            color: $bright-orange;
            background-color: #ffffff;
            transform: scale(1.5);
            border: solid 2px $bright-orange;
        }
        @media (min-width: 720px) {
            grid-column: 3/2;
            grid-row: 3/4;
            margin-top: 60px;
            justify-self: center;
        }
    }
}