html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.code {
    font-size: 16px;
    background: #d8d8d8;
    padding: 0 5px;
    border-radius: 5px
}

.page {
    width: 100vw
}

.link {
    color: inherit;
    text-decoration: inherit
}

.header {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    justify-content: flex-end;
    background: url("../images/cover.jpg") no-repeat;
    background-size: cover;
    background-position: center
}

.menu {
    left: 0%;
    position: fixed;
    top: 0;
    background: #0271bc;
    width: 44px;
    height: 44px
}

.menu-ico {
    width: 16px;
    height: 14px;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 15px 14px 15px 14px
}

.header__page {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.header__page--title {
    font-family: "Roboto Slab", serif;
    font-size: 42px;
    text-transform: uppercase;
    margin: 284px 15px 10px 15px
}

@media (min-width: 720px) {
    .header__page--title {
        margin: 384px 39px 20px 39px;
        font-size: 80px
    }
}

@media (min-width: 1140px) {
    .header__page--title {
        margin: 384px 275px 0px 275px;
        font-size: 100px
    }
}

.header__page--motto {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0px 15px 45px 15px
}

@media (min-width: 720px) {
    .header__page--motto {
        margin: 0px 204px 30px 204px;
        font-size: 24px
    }
}

@media (min-width: 1140px) {
    .header__page--motto {
        margin: 0px 275px 30px 275px
    }
}

.ico-scroll-down {
    padding: 18px 12px 15.3px 13px;
    border-radius: 22.5px;
    background-color: #ffffff;
    margin: 0px 122px 53px 122px;
    position: relative
}

@media (min-width: 720px) {
    .ico-scroll-down {
        margin: 0px 362px 45px 361px
    }
}

@media (min-width: 1140px) {
    .ico-scroll-down {
        margin: 30px 618px 13px 617px
    }
}

.main__info {
    display: flex;
    flex-direction: column;
    padding: 30px 15px 45px 15px
}

@media (min-width: 720px) {
    .main__info {
        padding: 30px 39px 60px 39px
    }
}

@media (min-width: 1140px) {
    .main__info {
        padding: 60px 275px 60px 275px
    }
}

.main__info--smallheading {
    color: #8ccbea;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize
}

@media (min-width: 1140px) {
    .main__info--smallheading {
        font-size: 16px
    }
}

.main__info--strongheading {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    margin-bottom: 15px;
    text-transform: capitalize
}

@media (min-width: 720px) {
    .main__info--strongheading {
        font-size: 26px
    }
}

@media (min-width: 1140px) {
    .main__info--strongheading {
        font-size: 32px
    }
}

.main__info--description {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #4a4a4a;
    margin-bottom: 30px
}

@media (min-width: 720px) {
    .main__info--description {
        font-size: 20px
    }
}

.main__info--button__go {
    font-family: "Roboto", sans-serif;
    color: #f26002;
    font-weight: 500;
    width: 76px;
    height: 45px;
    font-size: 20px;
    border-radius: 22.5px;
    border: solid 2px #f26002
}

.main__info--button__go:hover {
    color: #ffffff;
    background-color: #f26002;
    transform: scale(1.5)
}

.main__reasons {
    text-align: center;
    padding: 30px 15px 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr)
}

.main__reasons--leadheading {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    margin-bottom: 45px;
    text-transform: capitalize;
    grid-column: 1/4;
    grid-row: 1/2
}

@media (min-width: 720px) {
    .main__reasons--leadheading {
        grid-column: 1/4;
        grid-row: 1/2;
        font-size: 26px
    }
}

@media (min-width: 1140px) {
    .main__reasons--leadheading {
        padding: 60px 80px 60px 80px;
        font-size: 32px
    }
}

@media (min-width: 720px) {
    .main__reasons {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 45px
    }
}

.main__reasons .reason1 {
    grid-column: 1/4;
    grid-row: 2/3
}

@media (min-width: 720px) {
    .main__reasons .reason1 {
        grid-column: 1/2;
        grid-row: 2/3
    }
}

.main__reasons .reason2 {
    grid-column: 1/4;
    grid-row: 3/4
}

@media (min-width: 720px) {
    .main__reasons .reason2 {
        grid-column: 2/3;
        grid-row: 2/3
    }
}

.main__reasons .reason3 {
    grid-column: 1/4;
    grid-row: 4/5
}

@media (min-width: 720px) {
    .main__reasons .reason3 {
        grid-column: 3/4;
        grid-row: 2/3
    }
}

.main__reasons .button__more {
    font-family: "Roboto", sans-serif;
    background-color: #f26002;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 22.5px;
    border: none;
    width: 184px;
    height: 45px;
    grid-row: 5/5;
    grid-column: 2/3;
    margin-top: 45px
}

.main__reasons .button__more:hover {
    color: #f26002;
    background-color: #ffffff;
    transform: scale(1.5);
    border: solid 2px #f26002
}

@media (min-width: 720px) {
    .main__reasons .button__more {
        grid-column: 3/2;
        grid-row: 3/4;
        margin-top: 60px;
        justify-self: center
    }
}

.article {
    margin: 0 70px 45px 70px
}

@media (min-width: 720px) {
    .article {
        margin: 0px
    }
}

.article__heading {
    font-family: "Roboto Slab", serif;
    font-size: 18px
}

@media (min-width: 720px) {
    .article__heading {
        font-size: 24 px
    }
}

.article__description {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400
}

@media (min-width: 720px) {
    .article__description {
        font-size: 20 px
    }
}

.footer__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #304268;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 60px 45px;
    row-gap: 30px
}

@media (min-width: 720px) {
    .footer__page {
        display: flex;
        flex-direction: row-reverse;
        padding: 45px 39px 45px 39px;
        align-items: flex-start;
        justify-content: center
    }
}

@media (min-width: 1140px) {
    .footer__page {
        padding: 45px 370px 45px 370px
    }
}

@-webkit-keyframes arrow {
    from {
        opacity: 0;
        transform: scale(10) rotate(-180deg)
    }
    to {
        opacity: 1;
        transform: translateY()
    }
}

@keyframes arrow {
    from {
        opacity: 0;
        transform: scale(10) rotate(-180deg)
    }
    to {
        opacity: 1;
        transform: translateY()
    }
}

.ico-arrow {
    margin: auto;
    transform: translateY(-84px) translateX(-18px);
    padding: 10px 12.4px 10px 12px;
    border-radius: 22.5px;
    background-color: #ffffff;
    z-index: 999;
    position: absolute;
    -webkit-animation-name: arrow;
    animation-name: arrow;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3
}

@media (min-width: 720px) {
    .ico-arrow {
        left: 50vw;
        transform: translateY(-67px)
    }
}

@media (min-width: 1140px) {
    .ico-arrow {
        transform: translateY(-66px)
    }
}

.footer__container {
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    text-decoration: none
}

.footer__container--sections {
    margin: 0px 123px 30px 122px
}

@media (min-width: 720px) {
    .footer__container--sections {
        margin: 0px;
        width: 210px
    }
}

@media (min-width: 1140px) {
    .footer__container--sections {
        width: 159px
    }
}

.footer__container--social {
    margin: 0px 71px 0px 72px
}

@media (min-width: 720px) {
    .footer__container--social {
        margin: 0px;
        width: 210px
    }
}

@media (min-width: 1140px) {
    .footer__container--social {
        width: 159px
    }
}

@media (min-width: 720px) {
    .footer__container {
        display: flex;
        flex-direction: row
    }
}

.footer__copy {
    font-size: 14px;
    margin-bottom: 45px
}

.footer__copy--icon {
    color: #f26002
}

@media (min-width: 1140px) {
    .footer__copy {
        width: 159px
    }
}